* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
}

.banner {
  position: relative;
  height: 100vh;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.overlay p {
  margin-bottom: 25px;
}

.overlay button {
  padding: 15px 35px;

  border: none;
  border-radius: 30px;

  background: #0066ff;

  color: white;

  cursor: pointer;
  font-size: 16px;
}

/* abrir pagina de login */

.drawer {
  position: fixed;

  top: 0;
  right: -450px;

  width: 400px;
  height: 100vh;

  background: white;

  transition: 0.5s;

  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);

  z-index: 1000;
}

.drawer.active {
  right: 0;
}

.drawer-content {
  padding: 40px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.close-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-self: flex-end;
  border: none;
  outline: none;
  background-color: white;
}

h2 {
  align-self: center;
}

.drawer input {
  padding: 15px;

  border-radius: 10px;

  border: 1px solid #ccc;
}

.entrar {
  padding: 15px;
  background: #0066ff;
  color: white;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

/* ADICIONAR RESPOINSIVIADADE NO SITEEEE */

@media (max-width: 768px) {
  .overlay h1 {
    font-size: 35px;
  }
}
